<form action="/" id="sendForm" name="sendForm">
    <div id="formWrap">
        <input placeholder="Type message here" type="text" value="" name="textInput" id="textInput">
        <input type="submit" value="Send message" name="sendButton" id="sendButton">
    </div>
</form>