<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samtale</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:700,400,400italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/vendor/json2.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <!--<script src="js/vendor/backbone.localStorage.js"></script>-->
    <script src="js/vendor/backbone.iosync.js"></script>
    <script src="js/vendor/backbone.iobind.js"></script>
    <script src="js/vendor/mustache.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div id="app">
    <header id="title">
        <h1>Samtale</h1>
    </header>
    <div id="sidebar">
        <h3>Settings</h3>
        <ul id="channels">
        </ul>
    </div>
    <div id="cont">
        <div id="content">
            <div id="messages">
                <ul>
                </ul>
            </div>
            <div id="typing">
                <form action="/" id="sendForm" name="sendForm">
                    <div id="formWrap">
                        <input placeholder="Type message here" type="text" value="" name="textInput" id="textInput" autocomplete="off">
                        <input type="submit" value="Send message" name="sendButton" id="sendButton">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>